@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d6f3e5;
}

.container {
    width: 60%;
    height: 80vh;
    display: flex;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .212);
    background: #79dfad;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ebf5f0;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #35c574;
    padding: 0.4rem 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.login-button button:hover {
    background-color: #27ff85;
}

.login-button button a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(236, 230, 230);
}

.form-header h1::after {
    content: '';
    display: block;
    width: 8.5rem;
    height: 0.5rem;
    background-color: #35c574;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 2.0rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #000000;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #35c574;
}

.input-box label,
.gender-title h6 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #000000c0;
} 

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flexbox;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 1.rem;
    font-weight: 600;
    color: #000000be;
}

.continue-button button {
    width: 40%;
    margin-top:2.5rem;
    border: none;
    border-radius: 5px;
    padding: 0.62rem;
    cursor: pointer;
    background-color: #35c574;
}

.continue-button button:hover {
    background-color: #27ff85;
}

.continue-button button  {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
}

/* messages quando a senha não for a mesma ver isso depois

.message {
    
}
*/

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container{
        width: 50%;
    }
    .form{
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .gender-inputs {
        margin-top: 2rem;
    }

    .gender-group {
        flex-direction: column;
    }

    .gender-input {
        margin-top: 0.5rem;
    }

}