@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
    --bege: #F8ECDC;
    --verde-principal: #35C574
    --verde-secundario: #449166;
    --verde-terceiro: #35C442;
    --verde-quarto: #154F2E;
    --verde-quinto: #207846;
    --vermelho: #E63136;
    --letra-principal: "Concert One";
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: var(--bege);
    background-image: url(/img/layered-waves-haikei-svg1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*Parte do menu horizontal*/

.cabecalho {
    text-align: center;
    padding: .9rem;
}

.logo {
    width: 10rem;
    padding-left: 1.3rem;
    padding-top: -9rem;
}

.menu-lista {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.item-lista {
    font-size: 1.4rem;
    font-family: var(--letra-principal);
    margin-top: .9rem;
}

.item-lista .item-linha {
    color: var(--verde-quinto);
    position: relative;
    text-align: center;
}

.item-lista .item-linha::after {
    content: "";
    width: 0%;
    height: 1px;
    background: var(--bege);
    margin: -0.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.item-lista .item-linha:hover::after {
    width: 100%;
}

.buscar {
    padding: 5px;
    margin: 4px;
    border: none;
}

.buscar-menu {
    background: white;
    padding: 2px;
    margin: 2px;
    border: 1px solid var(--verde-quarto);
    text-align: center;
    font-family: var(--letra-principal);
    color: var(--verde-quinto);
    border-radius: 5px;
}

.buscar {
    color: var(--verde-terceiro);
    font-family: var(--letra-principal);
    font-size: .9rem;
}

/*parte do menu lateral*/

.hamburger{
    width: 1rem;
    height: 1rem;
    position: fixed;
    z-index: 5;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-top: -3rem;
}

.show-menu .hamburger{
    right: 16rem;
}

.line{
    width: 1.5rem;
    height: 0.1rem;
    padding: 0.4px;
    border-radius: 10px;
    background-color: var(--verde-quarto);
    box-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, 0.788);
    transition: transform .2s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(-.3rem, .4rem);
    background-color: var(--verde-terceiro);
    box-shadow: none;
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.9rem);
    background-color: var(--verde-terceiro);
    box-shadow: none;
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background: rgb(255, 255, 255);
    opacity: 0.8;
    box-shadow: 10px 5px 15px 10px rgba(0, 0, 0, 0.582);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all .4s;
    text-align: center;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: left;
    padding-bottom: 20px;
    margin-left: 2px;
}

.menu-link{
    font-family: var(--letra-principal);
    font-size: 1.5rem;
    color: var(--verde-quarto);
    transition: color .7s;
    position: relative;
    padding-left: 2px;
}

.menu-link:hover{
    color: var(--verde-terceiro);
    transition: color .7s;
}

.menu-link:after {
    content: "";
    width: 0%;
    height: 1px;
    background: var(--verde-terceiro);
    margin: -0.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.menu-link:hover::after {
    width: 100%;
}

.segundo-menu {
    padding: 1rem;
    margin: 3rem;
}

.texto-receitas {
    padding-top: 3rem;
    color: var(--vermelho);
    font-size: 3rem;
    font-family: var(--letra-principal);
}

.linha-menu {
    background: var(--vermelho);
}

/*primeira seção*/

.primeira-secao {
    font-family: var(--letra-principal);
    background: var(--bege);
    display: flex;
}

.texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 14rem;
    padding-left: 6rem;
}

.texto-citacao {
    font-size: 2rem;
    text-align: center;
    color: var(--vermelho);
    padding-top: 7rem;
    width: 20rem;
}

.texto-citacao span {
    color: var(--verde-terceiro);
}

.texto-receitas {
    font-size: 2rem;
    padding-bottom: -.2rem;
   padding-top: -.2rem;
   margin-top: -1.5rem;
}

.texto-receitas a {
    color: var(--verde-terceiro);
    border: 1px solid var(--vermelho);
    padding: .6rem;
    border-radius: 10px;
}

.texto-receitas a:hover {
    background:var(--verde-quinto);
    color: var(--bege);
    border: 1px solid var(--verde-quinto);
}

.texto-sugestao {
    padding-top: 1.4rem;
}

.img-primeiro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 7rem;
}

.img-prato {
    width: 40rem;
    transition: .7s ease-in-out;
}

.primeiro-filtro {
    margin-top: -6rem;
}

.segunda-secao {
    background: #2078465e;
    height: 9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.texto1 {
    background: #35c44167;
    border-radius: 4px;
    height: 6rem;
    width: 8rem;
    text-align: center;
    font-size: 1rem;
    font-family: var(--letra-principal);
    color: var(--verde-quinto);
    margin: 1rem;
    padding: .5rem .3rem .5rem 0rem;
    opacity: .7;
}

.texto1:hover {
    opacity: 1;
}

.texto2 {
    background: #35c44167;
    border-radius: 4px;
    height: 6rem;
    width: 8rem;
    text-align: center;
    font-size: 1rem;
    font-family: var(--letra-principal);
    color: var(--verde-quinto);
    margin: 1rem;
    padding: .5rem .3rem .5rem 0rem;
    opacity: .7;
}

.texto2:hover {
    opacity: 1;
}

.texto3 {
    background: #35c44167;
    border-radius: 4px;
    height: 6rem;
    width: 8rem;
    text-align: center;
    font-size: 1rem;
    font-family: var(--letra-principal);
    color: var(--verde-quinto);
    margin: 1rem;
    padding: .5rem .3rem .5rem 0rem;
    opacity: .7;
}

.texto3:hover {
    opacity: 1;
}

.parte-segunda {
    background: #2078465e;
    height: 1.3rem;
    text-align: center;
}

.informativo {
    font-size: 1rem;
    color: var(--verde-principal);
    font-family: var(--letra-principal);
}