<link rel="stylesheet" href="/css/style.css">
<!--Parte do menu horizontal, onde tem sobre nós, logo, login...-->
    <nav class="cabecalho">
        <header class="menu-horizontal">
            <ul class="menu-lista">
                <li class="item-lista">
                    <img src="/img/Logo Colorido.png" alt="" class="logo">
                </li>
                <li class="item-lista">
                    <a href="#" class="item-linha">Sobré nós</a>
                </li>
                <li class="item-lista">
                    <div class="buscar-menu">
                        <input type="search-text" placeholder="Buscar" class="buscar">
                        <a href="#" class="buscar-botao"><i class="fa-solid fa-magnifying-glass"
                                style="color: #3ab72a;"></i></a>
                    </div>
                </li>
                <li class="item-lista">
                    <a href="./login" class="item-linha">Login</a>
                </li>
                <li class="item-lista">
                    <a href="./register" class="item-linha">Cadastro</a>
                </li>
            </ul>
        </header>
    </nav>
    <!--parte do menu lateral, onde tem o link para as receitas-->
    <div class="container">
        <div class="hamburger">
            <div class="line" id="line1"></div>
            <div class="line" id="line2"></div>
            <div class="line" id="line3"></div>
        </div>

        <aside class="sidebar">
            <nav class="menu-lateral"><hr class="linha-menu">
                <p class="texto-receitas">Receitas</p> <hr>
                <ul class="segundo-menu"> 
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a href="#" class="menu-link">Doces e sobremesas</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a href="#" class="menu-link">Salgado</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a href="#" class="menu-link">Lanches</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a href="#" class="menu-link">Bebidas</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a href="#" class="menu-link">Massas</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a href="#" class="menu-link">Almoço</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a href="#" class="menu-link">Café da manhã</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a href="#" class="menu-link">Sopas e caldos</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a href="#" class="menu-link">Ver todas as receitas</a></li>
                </ul>
            </nav>
        </aside>

        <section class="primeira-secao">
            <div class="texto">
                <p class="texto-citacao"><span>“Não coma menos. </span>Coma melhor!”</p>
                <p class="texto-receitas"><a href="#">Receitas</a></p>
                <p class="texto-sugestao">Sugestão de receitas adpatadas para <br> suas necessidades.</p>
            </div>
            <div class="img-primeiro">
                <img src="/img/pngwing 2.png" class="img-prato" alt="Prato de comida que tem carne com cebola, abacate, abobora, vargem">
            </div>
        </section>

        <section class="segunda-secao">
            <p class="texto1">50% dos brasileiros têm falta de vitamina A</p>
            <p class="texto2">80% dos brasileiros têm falta de vitamina C</p>
            <p class="texto3">81% dos brasileiros têm falta de vitamina K</p>
        </section>

        <div class="parte-segunda">
            <p class="informativo">Fonte retirada do med.puc-rio.br</p>
        </div>



        <script src="https://kit.fontawesome.com/d00c321405.js" crossorigin="anonymous"></script>
        <script src="/js/home.js"></script>